html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 10fr 0.5fr;
}

#page-header {
    width: 100%;
    height: 3em;
    background-color: rgb(14, 49, 119);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header-tabs {
    width: 15%;
    height: 65%;
    background-color: rgb(95, 99, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em 1em 0 0;
    margin: 0 1em;
    color: rgb(215, 216, 218);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

#home-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 150);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

#home-header {
    margin: 1rem;
    height: 50%;
    display: flex;
    align-items: center;

}

#about-content {
    height: 100%;
    width: 100%;
    background-color: rgb(206, 206, 150);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#about-header {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1em;
}

#about-text {
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
}

#menu-content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(206, 206, 150);
}

.menu-item {
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-img {
    width: 300px;
    height: 300px;
    padding: 1em;
}

#page-footer {
    height: 3em;
    width: 100%;
    background-color: rgb(14, 49, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(215, 216, 218);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}